.catalogPageWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  padding: 20px 0;
}

.catalogPageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.catalogPageFiltersLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;

  & p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.catalogPageMainContainer {
  display: flex;
  gap: 20px;
}
