.carPartSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;

  & hr {
    width: 100%;
    opacity: 0.6;
  }

  & h2 {
    font-size: 32px;
  }

  & nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 250px;
  }
}

.carPartSectionContainer {
  display: flex;
  gap: 20px;
}

.carPartSection {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}
