.historyWrapper {
  background-color: rgba(242, 243, 245, 1);
  height: 65px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0;
}

.historyContainer {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 0 auto;

  & p {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.icons {
  font-size: 20px;
}
