.headerSearchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 800px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 8px;
  color: black;
}

.select {
  border: none;
  outline: none;
  font-weight: 500;
}

.input {
  background: transparent;
  border: none;
  border-right: 1px solid rgba(131, 134, 144, 1);
  border-left: 1px solid rgba(131, 134, 144, 1);
  padding: 0 10px;
  width: 580px;
  height: 25px;
  outline: none;
}
